name: Build and Deploy
on:
  push:
    branches:
      - main # 此處改為 main，因為這是你的原始碼倉庫的主分支

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: public
          repository-name: kapiso-TW/kapiso-TW.github.io # 部署到的目標倉庫
          branch: main # 目標倉庫的分支
          token: ${{ secrets.BLOG_DEPLOY_TOKEN }} # 需要你在 your backup 倉庫設定這個 Secret
